LAB-12/XML Scema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="store">
        <xs:complexType>
            <xs:sequence>
    
    <xs:element name="head">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nid" type="xs:string"/>
                <xs:element name="nname" type="xs:string"/>
                <xs:element name="ndescription" type="xs:string"/>
                <xs:element name="nprice" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="product" maxOccurs="unbounded">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:string"/>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="description" type="xs:string"/>
                <xs:element name="price" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
            
            </xs:sequence>
        </xs:complexType>
    </xs:element>


</xs:schema>